@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: muli, serif, sans-serif;
  height: 100%;
}

body {
  padding: 16px;
}

h5 {
  margin: unset;
}

ul {
  margin: 0;
  padding: 0 0 0 16px;
}

input {
  margin-bottom: 16px;
}
