* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: muli, serif, sans-serif;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  padding: 15px 3px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 16px;
}

.users-list {
  border: 1px solid black;
  border-radius: 6px;
}

.user {
  padding: 6px 0;
  cursor: pointer;
}
